:css
  tr.overrow {
    background-color: #FFFF99;
  }
  tr.selected {
    background-color: #FFFF00;
  }
#anomalys
  %table{:width => "100%"}
    %tr{:valign => "top"}
      %th{:width => "126"}
        %span 時間
      %th{:width => "126"}
        %span 員工編號
      %th{:width => "126"}
        %span 員工姓名
      %th{:width => "126"}
        %span 酒測值
      %th{:width=> "170"}
        %span 檢測地點
      %th{:width => "170"}
        %span 檢測區域
    - @tests.each do |t|
      %tr{:valiagn => "top", :image => t.image}
        %td
          %span #{format_time(t.time)}
        %td
          %span.driver_id #{t.driver.serial}
        %td
          %span.driver_name #{t.driver.name}
        %td
          %span #{"%.3f" % t.value}
        %td
          - if t.latitude and t.longitude
            %a{:class => "geo", :target => "_blank", :href =>"https://www.google.com/maps/place/#{"%.4f"%t.latitude}+#{"%.4f"%t.longitude}/@#{"%.4f"%t.latitude},#{"%.4f"%t.longitude},15z"} #{"%.4f"%t.latitude},#{"%.4f"%t.longitude}
        %td
          %span #{t.location}
  #anomaly_photo
    %input{:type => 'button', :value => '列印', :style => 'display:none;text-align:right;'}
    #anomaly_photo_div
