:javascript
  $(function() {
    $.datepicker.setDefaults(
      $.extend(
         $.datepicker.regional['zh-TW'],
        {'dateFormat':'yy-mm-dd'}
      )
    );
    $("#datepicker").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true,
      maxDate: "#{@max_date}",
      minDate: "#{@min_date}",
      onSelect: function(date) {
        window.location = "/report/" + date;
      }
    });
    $("#print").click(function() {
      window.print();
    });

    $("a.anomaly").click(function() {
      var tag = $("<div></div>");
      var site = $(this).parents('tr').find('td span')[1].innerHTML;
      var site_id = this.pathname.split('/')[2];
      var date = $('#datepicker').val();
      $.ajax({
        url: this.href,
        success: function(data) {
          tag.html(data).dialog({
            modal: true,
            title: site + ' 酒測超標清單 ' + date,
            width: 350,
            close: function() {
              $(this).remove();
            },
          }).dialog('open');

          $('#anomaly_photo input').show().click(function(e) {
            var thePopup = window.open('', 'print', "menubar=0,height=640,width=640,left=" + (e.pageX - 200) + ",top=" + (e.pageY-40));
            $('#anomalys:first').clone().appendTo(thePopup.document.body);
            var src = $('#anomaly_photo_div img', thePopup.document).attr('src');
            $('#anomaly_photo_div img', thePopup.document)
              .attr('src', window.location.origin + '/' + src)
              .attr('width', 600);
            $('#anomalys table tr', thePopup.document).not(':first').filter(function(){
              return $(this).attr('class') != 'selected';
            }).hide();
            $('table,td,th', thePopup.document).css('border', '1px solid black').css('border-spacing', '0').css('text-align', 'center');
            $('#anomaly_photo input', thePopup.document).hide();
            $('span.ui-dialog-title').clone().insertBefore($('#anomalys table', thePopup.document)).wrap('<b/>');
            $('#anomalys table', thePopup.document).before('<p/>').after('<p/>');
            thePopup.print();
          });
          $('#anomalys tr').not(':first').hover(function() {
            $(this).toggleClass('overrow');
          }, function() {
            $(this).toggleClass('overrow');
          }).css('cursor', 'pointer').click(function() {
            $(this).parent().children().removeClass('selected');
            $(this).addClass('selected');
          $('#anomaly_photo input').show();
            var name = $(this).attr('image');
            $('#anomaly_photo_div').empty().append(
              '<img width="300" src="/photos/' + name.substr(0, 2) + '/' + name.substr(2, 2) + '/' + name + '"/>');
          });
        },
      });
      return false;
    });
  });
#wrapper
  #report
    %div
      %h2{:style => "position: relative;"}
        %span 統聯酒測日報表
        %input{:id => "datepicker", :disabled => "disabled", :value => @date}
        %input{:id => "print", :type => "button", :style => "position: absolute; right: 0px;", :value => "列印"}  
    %table{:width => "100%"}
      %tr{:valign => "top"}
        %th{:width => "35"}
          %span No.
        %th{:width => "120"}
          %span 站名
        %th{:width => "120"}
          %span 登錄人
        %th{:width => "100"}
          %span 受測總數
        %th{:width => "100"}
          %span 異常次數 
        %th{:width => "100"}
          %span 調度測試
        %th{:width => "100"}
          %span 見習/抽班/其它
        %th{:width => "120"}
          %span 主管姓名
        %th{:width => "120"}
          %span 主管覆核
        %th{:width => "160"}
          %span 備註
        %th{:width => "120", :class => "update_column"}
          %span
      - @reports.each_with_index do |r, i|
        %tr{:valign => "top", :class => !(r.status==2) && "validate_err"}
          %td
            %span #{i+1}
          %td{:style => "white-space:nowrap"}
            %span #{r.site.name}
          %td
            %span= r.inputter.nil? ? '' : r.inputter.name
          %td
            %span= r.total_tests
          %td
            %span
              - if r.anomaly_tests > 0
                %a{:class => "anomaly", :href => "/anomaly/#{r.site_id}/#{@date}"}= r.anomaly_tests
              - else
                = r.anomaly_tests 
          %td
            %span= r.status == 0 ? "N/A" : r.operator_tests
          %td
            %span #{r.trainees}/#{r.pumpings}/#{r.repeats}
          %td
            %span= r.auditor.nil? ? '' : r.auditor.name
          %td
            - case r.status
            - when 0
              %span 未輸入
            - when 1
              %span  未核覆
            - when 2
              %span 正確無誤
          %td
            %span{:style=>"white-space:nowrap"} #{r.comment}
          %td.update_column
            %span  
              %a{:href => "/site/#{r.site_id}/#{@date}"} 更新
    #print_footer
      %span 批示______________&nbsp;&nbsp;
      %span 經理______________&nbsp;&nbsp;
      %span 單位主管______________&nbsp;&nbsp;
      %span 製表______________
#navigation
  %nav
    %ul
      %li
        %a{:href => "/search"} 搜尋
      %li
        %a{:href => "/broadcast"} 分站訊息通知  
      - @available_dates.each do |d|
        %li
          %a{:href => "/report/#{d}", :class => d == @date.to_s && "selected"}= d
      %li
        %a{:href => "/manager/edit"} 新增修改帳號
