:javascript
  $(function() {
    $.datepicker.setDefaults(
      $.extend(
         $.datepicker.regional['zh-TW'],
        {'dateFormat':'yy-mm-dd'}
      )
    );
    $("#datepicker").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true,
      maxDate: "#{@max_date}",
      minDate: "#{@min_date}",
      onSelect: function(date) {
        window.location = "/report/" + date;
      }
    });
    $("#print").click(function() {
      window.print();
    });

    $("a.anomaly").click(function() {
      var tag = $("<div></div>");
      $.ajax({
        url: this.href,
        success: function(data) {
          tag.html(data).dialog({modal: true, title: '酒測超標清單'}).dialog('open');
        }
      });
      return false;
    });
  });
#wrapper
  #report
    %div
      %h2{:style => "position: relative;"}
        %span 統聯酒測日報表
        %input{:id => "datepicker", :disabled => "disabled", :value => @date}
        %input{:id => "print", :type => "button", :style => "position: absolute; right: 0px;", :value => "列印"}  
    %table{:width => "100%"}
      %tr{:valign => "top"}
        %th{:width => "35"}
          %span No.
        %th{:width => "126"}
          %span 站名
        %th{:width => "126"}
          %span 登錄人姓名
        %th{:width => "126"}
          %span 受測總次數
        %th{:width => "126"}
          %span 異常次數 
        %th{:width => "126"}
          %span 總班次數
        %th{:width => "126"}
          %span 調度測試
        %th{:width => "126"}
          %span 見習/抽班/重覆
        %th{:width => "126"}
          %span 主管姓名
        %th{:width => "126"}
          %span 主管覆核
        %th{:width => "126", :class => "update_column"}
          %span
      - @reports.each do |r|
        %tr{:valign => "top", :class => !r.consistent && "validate_err"}
          %td
            %span #{r.site.seq}
          %td
            %span #{r.site.name}
          %td
            %span= r.inputter.nil? ? '' : r.inputter.name
          %td
            %span= r.total_tests
          %td
            %span
              - if r.anomaly_tests > 0
                %a{:class => "anomaly", :href => "/anomaly/#{r.site_id}/#{@date}"}= r.anomaly_tests
              - else
                = r.anomaly_tests 
          %td
            %span= r.status == 0 ? "N/A" : r.total_trips
          %td
            %span= r.status == 0 ? "N/A" : r.operator_tests
          %td
            %span #{r.trainees}/#{r.pumpings}/#{r.repeats}
          %td
            %span= r.auditor.nil? ? '' : r.auditor.name
          %td
            - case r.status
            - when 0
              %span 未輸入
            - when 1
              %span  未核覆
            - when 2
              %span 正確無誤
          %td.update_column
            %span  
              %a{:href => "/site/#{r.site_id}/#{@date}"} 更新
#print_footer
  %span 批示______________&nbsp;&nbsp;
  %span 經理______________&nbsp;&nbsp;
  %span 單位主管______________&nbsp;&nbsp;
  %span 製表______________
#navigation
  %nav
    %ul
      - @available_dates.each do |d|
        %li
          %a{:href => "/report/#{d}", :class => d == @date.to_s && "selected"}= d
