%section.columns.clear
  %div
    %div
      %h2
        %span 統聯酒測日報表 #{@date}
    %table{:border => "1", :cellpadding => "2", :cellspacing => "2", :style => "background-color: #ffffff;", :width => "100%"}
      %tr{:valign => "top"}
        %th{:width => "35"}
          %span No.
        %th{:width => "126"}
          %span 站名
        %th{:width => "126"}
          %span 登錄人姓名
        %th{:width => "126"}
          %span 受測總次數
        %th{:width => "126"}
          %span 異常次數 
        %th{:width => "126"}
          %span 總班次數
        %th{:width => "126"}
          %span 調度測試
        %th{:width => "126"}
          %span 見習/抽班/重覆
        %th{:width => "126"}
          %span 主管姓名
        %th{:width => "126"}
          %span 主管覆核
        %th{:width => "126"}
          %span
      - @reports.each do |r|
        %tr{:valign => "top"}
          %td
            %span #{r.site.seq}
          %td
            %span #{r.site.name}
          %td
            %span= r.inputter.nil? ? '' : r.inputter.name
          %td
            %span= r.total_tests
          %td
            %span= r.anomaly_tests 
          %td
            %span= r.status == 0 ? "N/A" : r.total_trips
          %td
            %span= r.status == 0 ? "N/A" : r.operator_tests
          %td
            %span #{r.trainees}/#{r.pumpings}/#{r.repeats}
          %td
            %span= r.auditor.nil? ? '' : r.auditor.name
          %td
            - case r.status
            - when 0
              %span 未輸入
            - when 1
              %span  未核覆
            - when 2
              %span 正確無誤 (Correct)
          %td
            %span  
              %a{:href => "/site/#{r.site.name}/#{@date}"} 更新
  %div
    - @available_dates.each do |d|
      %a{:href => "/report/#{d}"}= d
      &nbsp;&nbsp;
