:css
  tr.overrow {
    background-color: #FFFF99;
  }
  tr.selected {
    background-color: #FFFF00;
  }
  a.selected {
    background-color: #FFFF00;
  }
  .input {
    text-align: left;
  }
  .ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  ul[id^='ui-id'] {display: none; top: 31px; left: 69px; width: 200px; list-style-type: none;}

:javascript
  function get_page(url, sel) {
    $.get(url, function(data) {
      $(sel).empty().append(data);
      m = /(\?|\&)page=(\d+)/.exec(url);
      if (m) {
        $(sel + ' .sinatra-pagination a').filter(function() {
          return $(this).text() == m[2];
        }).addClass('selected');
      }
      $(sel + ' tr').not(':first').hover(function() {
        $(this).toggleClass('overrow');
      }, function() {
        $(this).toggleClass('overrow');
      }).css('cursor', 'pointer').click(function() {
        $(this).parent().children().removeClass('selected');
        $(this).addClass('selected');
        $(sel + ' div.driver_id').text($(this).find('td span.driver_id').text());
        var name = $(this).attr('image');
        $(sel + ' div.photo_div').empty().append(
          '<img width="300" src="/photos/' + name.substr(0, 2) + '/' + name.substr(2, 2) + '/' + name + '"/>');
      });
      $(sel + ' a').click(function(e) {
        get_page($(this).attr('href'), sel);
        e.preventDefault();
      });
    });
  }
  $(function() {
    $("#accordion").accordion({
      collapsible: true,
      heightStyle: 'content'
    });
    $.datepicker.setDefaults(
      $.extend(
        $.datepicker.regional['zh-TW'],
        {'dateFormat': 'yy-mm-dd'}
      )
    );
    $("#site_datepicker input:first").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true,
      maxDate: "#{@max_date}",
      minDate: "#{@min_date}",
    });

    $('#site_search_submit').click(function() {
      var s = $('#site_select select').val();
      var d = $('#site_datepicker input:first').val();
      get_page('/search/bysite?site_id=' + s + '&date=' + d + '&page=1', '#site_search_result');
    });
    // Code for seach by employee ~
    $('#employee_search_submit').click(function() {
      var s = $('#empid').val();
      var d1 = $('#emp_datepicker input#from_date').val();
      var d2 = $('#emp_datepicker input#to_date').val();
      get_page('/search/byserial?emp_id=' + s + '&date1=' + d1 + '&date2=' + d2 + '&page=1', '#emp_search_result');
    });
    $("#emp_datepicker input#from_date").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true,
      maxDate: "#{@max_date}",
      minDate: "#{@min_date}",
    });
    $("#emp_datepicker input#to_date").datepicker({
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true,
      maxDate: "#{@max_date}",
      minDate: "#{@min_date}",
    }); 
    $('#empid').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/search/serial_inquiry",
          dataType: "json",
          data: {
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            // alert(data.drivers);
            response( $.map( data.drivers, function( item ) {
              return {
                label: item.id + " - " + item.name,
                value: item.id
              }
            }));
          }
        });
      },
      minLength: 1,
      select: function( event, ui ) {
        $('#empid').val( ui.item.value );
      }
    });
  });
#wrapper
  #report
    %div
      %h2{:style => "position: relative;"}
        %span 搜尋
    #accordion
      %h3 分站搜尋
      #site_search
        #site_select.input
          %span 分站:
          %select{:name => 'siteid'}
            - @sites.each do |s|
              %option{:value => "#{s.id}"} #{s.name}
        #site_datepicker.input
          %span 日期:
          %input{:type  => 'button', :diabled => 'disabled', :value => @max_date}
          %input{:id => 'site_search_submit', :type => 'button', :value => '搜尋'}
        #site_search_result
      %h3 員工搜尋
      #emp_search
        #employee_picker.input
          .ui-widget
            %label{:for => 'employeeid'} 員工序號:
            %input{:id => 'empid', :style => 'width: 7em;', :value => ''}
        #emp_datepicker.input
          %span 從日期:
          %input{:id => 'from_date', :type  => 'button', :diabled => 'disabled', :value => @max_date}
          %span 至日期:
          %input{:id => 'to_date', :type  => 'button', :diabled => 'disabled', :value => @max_date}
          %input{:id => 'employee_search_submit', :type => 'button', :value => '搜尋'}  
        #emp_search_result
#navigation
  %nav
    %ul
      %li
        %a{:href => "/search", :class => "selected"} 搜尋
      %li
        %a{:href => "/broadcast"} 站務系統 
      - @available_dates.each do |d|
        %li
          %a{:href => "/report/#{d}"}= d
      %li
        %a{:href => "/manager/edit"} 新增修改帳號