-# coding: UTF-8
:javascript
  function validate() {
    $(".buttons input").attr("disabled", "disabled");
    // check if integer
    if (Number(this.value) != this.value) {
    //  alert("Not integer");
    //  return;
    }
    var dirty = false;
    $("input.editable").add("select.selectable").each(function() {
      if ($(this).attr("ovalue") != $(this).attr("value")) {
        dirty = true;
        return false;
      }
    });
    if ($("#total_trips").val() == '')
      dirty = false
    if (dirty)
      $(".buttons input").removeAttr("disabled");
    else
      $(".buttons input").attr("disabled", "disabled");
  }
  function validate2() {
    var total_trips = $("#total_trips").val();
    if (Number(total_trips) != total_trips) {
      alert("總班次數 必須是整數");
      return false;
    }
    total_trips = Number(total_trips);
    var total_tests = Number($("#total_tests").val());
    var calc_num = total_trips + Number($("#operator_tests").val()) +
      Number($("#trainees").val()) + Number($("#pumpings").val()) +
      Number($("#repeats").val());
    if (total_tests != calc_num) {
      alert("總班次數+調度測試+見習+抽班+重複=" + calc_num + " 不等於 受測總次數(" + total_tests + ")");
      return false;
    }
    return true;
  }
  $(function() {
    $("input.editable").keyup(validate);
    $("select.selectable").change(validate);
    if ($("#total_trips").val() == 0) {
      $("#confirm").attr("disabled", "disabled");
    }
    $("form").submit(validate2);
    $("#logs").accordion({
      header: 'h5',
      collapsible: true,
      active: false,
    });
  });

#wrapper
  #report
    - if !@has_bc.nil? and @has_bc
      .breadcrumbs
        %a{:href => "/report/#{@date}"} 日報表
        >
    %h1.page_title= "#{@site_name} - #{@date}"
    - if @errors and @errors.size
      .errors
        - @errors.each do |k,v|
          #{v} <br/>
    %form{:action => "/site/#{@site_report.site_id}/#{@date}", :method => "post"}
      .field
        %label{:for => "status"} 狀態
        .ui
          %input{:id => "status", :name => "status",  :type => "text",
                 :value => @status_text, :disabled => "disabled"}
        %input{:name => "status", :type => "hidden", :value => @status_text}
      .field
        %label{:for => "total_tests"} 受測總次數
        .ui
          %input{:id => "total_tests", :name => "site_report[total_tests]", :type => "text",
                 :value => @site_report.total_tests, :disabled => "disabled"}
        %input{:name => "site_report[total_tests]", :type => "hidden", :value => @site_report.total_tests}
      .field
        %label{:for => "anomaly_tests"} 異常次數
        .ui
          %input{:id => "anomaly_tests", :name => "site_report[anomaly_tests]", :type => "text",
                 :value => @site_report.anomaly_tests, :disabled => "disabled"}
        %input{:name => "site_report[anomaly_tests]", :type => "hidden", :value => @site_report.anomaly_tests}
      - [{:id => "total_trips", :value => @site_report.total_trips, :label => "總班次數"},
         {:id => "operator_tests", :value => @site_report.operator_tests, :label => "調度測試", :isdropdown => true},
         {:id => "trainees", :value => @site_report.trainees, :label => "見習", :isdropdown => true},
         {:id => "pumpings", :value => @site_report.pumpings, :label => "抽班", :isdropdown => true},
         {:id => "repeats", :value => @site_report.repeats, :label => "重覆", :isdropdown => true}].each do |f|
        .field
          %label{:for => f[:id]}= f[:label]
          .ui
            - if f[:isdropdown]
              %select.selectable{:id => f[:id], :name => "site_report[#{f[:id]}]", :ovalue => f[:value]}
                - (0..20).each do |i|
                  %option{:selected => i == f[:value] && "selected"}= i
            - else
              %input.editable{:id => f[:id], :name => "site_report[#{f[:id]}]", :type => "text",
                :value => f[:value], :ovalue => f[:value]}
      .field
        %label{:for => "inputter"} 登錄人姓名
        .ui
          %input{:id => "inputter_name", :name => "site_report[inputter_name]", :type => "text",
                 :value => @site_report.inputter_name, :disabled => "disabled"}
      .field
        %label{:for => "auditor_name"} 主管姓名
        .ui
          %input{:id => "auditor_name", :name => "site_report[auditor_name]", :type => "text",
                 :value => @site_report.auditor_name, :disabled => "disabled"}
      %br
        .buttons
          - if !current_user.in_role? :auditor or @site_report.status == 2
            %input{ :value => "更新", :type => "submit", :disabled => "disabled"}
          - else
            %input{:id => "confirm", :value => "核覆", :type => "submit"}
      #logs
        %h5 記錄
        %div
          - @site_report.site_report_logs.each do |log| 
            - log_obj = JSON.parse(log.log)
            .logh
              %b #{User.get(log_obj['owner']).name}
              於 #{log.created_at.strftime('%G/%m/%d %X')} 更新
            .logb
              - if log_obj["changes"]
                - log_obj["changes"].each do |c|
                  = log_content c
                  %br
              = log_obj["message"] if log_obj["message"]
#navigation
  %nav
    %ul
      - @available_dates.each do |d|
        %li
          %a{:href => "/site/#{@site_report.site_id}/#{d}", :class => d == @date.to_s && "selected"}= d            
      - if @current_user.permission_level != 0
        %li
          %a{:href => "/manager/edit"} 新增修改帳號
